.clubsInfo{
    margin-top: 20px;
    &__wrapper{
        display: flex;
        justify-content: space-evenly;
    }
    &__clubInfo {
        width: 50%;
        &--crest {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__squad{
        width: 50%;
    }
    &__squadList {
        height: 500px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    &__player{
        margin: 5px 0;
    }
}
@media(min-width: 768px) {
    .clubsInfo{
        width: 80%;
        margin: 20px auto;
    }
}