.clubsSlider{
    height: 100px;
    width: 100%;
    border: 3px solid $border-color;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // styles from here - https://css-tricks.com/snippets/css/css-triangle/
    &__arrowBtn{
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        &--left{
            border-right: 10px solid $border-color;
        }
        &--right{
            border-left: 10px solid $border-color;
        }
    }
    &__clubsWrapper{
        height: 80%;
        width: 65%;
        border: 2px solid $border-color;
        border-radius: 5px;
        display: flex;
    }
    &__roll{
        display: flex;
        overflow-x: scroll;
    }
    &__crest{
        height: 100%;
        padding: 5px;
    }
}
@media(min-width: 768px){
    .clubsSlider{
        height: 120px;
        width: 80%;
        margin: 0 auto;
        &__clubsWrapper {
            height: 75%;
            width: 75%;
        }
    }
}
@media(min-width: 1024px) {
    .clubsSlider{
        &__roll{
            overflow: hidden;
        }
    }
}

// this part of code is related with an issue with flexbox(space-evenly) in edge. The solution which I have used - https://stackoverflow.com/questions/54882531/how-to-detect-partial-support-for-space-evenly-in-edge
@supports not (-ms-ime-align: auto) {
    .clubsSlider {
        justify-content: space-evenly
    }
}