.clubsInfo{
    margin-top: 20px;
    &__wrapper{
        display: flex;
        justify-content: space-evenly;
    }
}
@media(min-width: 568px){
    .clubsInfo{
        &__clubInfo{
            width: 50%;
        }
    }
}
@media(min-width: 768px) {
    .clubsInfo{
        width: 80%;
        margin: 20px auto;
    }
}