//**COLORS**
$text-color: #efefef;
$border-color: #00CF91;

//**BACKGROUNDS**
$bg-img: 'https://raw.githubusercontent.com/mb-dir/Premier-League-application/styles_refactoring/src/assets/img/background-min.png';

//**SIZES**


//**FONTS**
$default-font: sans-serif;